<br> <p style="font-size:35px">Here are your transactions!  </p>


    <table>
        <tr>
            <th>Payer</th>
            <th>Points</th>
            <th>Date</th>
        </tr>

        <% @transactions.each do |b|  %> 
        <tr>
       
        <td><%=b.payer %></td>
        <td><%=b.points %></td>
        <td><%=b.timestamp %></td> 
        
        </tr>
        <% end %>
    </table><br>


    <form method="POST" action="/transactions/all">

    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <input type="hidden" name="_method" value="PUT">
    Spend Points: <input type="text" name="transaction[points]" value=<%= @transaction.points%>"/>
    </input>

    </form>
     
    <h2> Spend </h2>
    <form method="POST" action="/transactions">
<label for="spend">Add Points:</label>

<select name="spend" id="spend">
  <option value="Dannon">DANNON</option>
  <option value="Unilever">UNILEVER</option>
  <option value="Miller Coors">MILLER COORS</option>
</select>


<input type="text" name="transaction[points]" value="some points">
    </input>
<input type="submit" value="Add Expenditure">
</form>





<h2>Total Points</h2>
<table>
<tr>
    <th>Payer</th>
    <th>Points</th>
    <th>Date</th>
</tr>

<% @transactions.each do |b|  %> 
<tr>

<td><%=b.payer %></td>
<td><%=b.points %></td>
<td><%=b.timestamp %></td> 

</tr>
<% end %>
</table>
     